/*  
--dry-sage: #c9cba3ff;
--soft-peach: #ffe1a8ff;
--vibrant-coral: #e26d5cff;
--wine-plum: #723d46ff;
--deep-mocha: #472d30ff;
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #723d46ff; /* wine plum */
    --secondary-color: #c9cba3ff; /* dry sage */
    --highlight-color: #e26d5cff; /* vibrant coral */
    --highlight-color-light: #ffe1a8ff; /* soft peach */
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
}

h1, h2 {
    font-family: 'DM Serif Display', serif;
    color: #184f63; /* dark-blue */
}

#main-head {font-size: 40px; font-weight: bold; color: #333;}

.sharp-corners, .sharp-corners * {
    border-radius: 0;
}

.custom-button {
    background-color: #1f7798; /* mid-blue */
    border: 1px solid #184f63; /* dark-blue */
}

.custom-button:hover {
    background-color: #1d6d8a; /* slightly darker mid-blue */
    border: #1d6d8a;
}

/* about section */

#about {
    background-color: white;
}

/* portfolio section */

#portfolio {
    background-color: #dbdcde; /* light grey */
}

#portfolio .card-title {
    color: #1f7798; /* mid-blue */
    font-size: 1.2rem;
 
}

#portfolio .btn-outline-secondary:hover {
    background-color: #1f7798; /* mid-blue */
}

#portfolio .card-text {
    min-height: 120px;
}

/* contact section */

#contact {
    background-color: white;
}

/* header */

/* Hero section */

#hero {
    background-color: lightgrey;
    background: url("../images/blbc.jpeg");
    background-size: cover;
    background-position: 50% 70%;
    min-height: 500px;
    padding: 5% 7%;
}

/* media queries */

/* use bootstrap's breakpoints for xl screens */
@media screen and (min-width: 1200px) {
    /* stops portfolio cards from stretching too much on large screens */
    #portfolio .card-text {
        min-height: auto;
    }
}
